#zitec-button {
  width: 150px;
  background-color: #122289;
  border-color: #122289;
  border-radius: 0;
}

#zitec-button:hover {
  background-color: #0b1661;
  border-color: #0b1661;
}

#footer {
  width: 100%;
}

/* @media (min-width: 992px) {
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
} */
